.root {
    main-color: #f8f8ff; /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #d9ffe2;
    -fx-font: 15px "Arial";
}

.text-field:focused {
    -fx-border-color: #ffaded;
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #ffaded;
    -fx-text-fill: #2f4f4f;
    -fx-font: bold 14px "Arial";
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #ffc2f1;
    -fx-text-fill: #1a2e2e;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #e69bd5;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-image: url("../images/background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.scroll-bar {
    -fx-font-size: 10px; /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #bc8f8f;
    -fx-background-radius: 10px;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
